# fingerprintd
r_dir_file(fingerprintd, firmware_file)
allow fingerprintd fpc_data_file:dir rw_dir_perms;
allow fingerprintd fpc_data_file:file create_file_perms;
allow fingerprintd fpc_data_file:sock_file { create unlink };
allow fingerprintd fpc_sysfs:dir r_dir_perms;
allow fingerprintd fpc_sysfs:file rw_file_perms;
allow fingerprintd tee_device:chr_file rw_file_perms;
allow fingerprintd uhid_device:chr_file rw_file_perms;
allow fingerprintd input_device:chr_file r_file_perms;
# file
type fpc_sysfs, fs_type, sysfs_type;
type fpc_data_file, file_type, data_file_type;
# system_server
allow system_server fpc_sysfs:file rw_file_perms;
# system_app
allow system_app fpc_sysfs:file rw_file_perms;
# tee
r_dir_file(tee, firmware_file)
allow tee self:capability { setuid setgid sys_rawio }; 
allow tee fpc_data_file:dir rw_dir_perms;
allow tee fpc_data_file:file create_file_perms;
allow tee system_prop:property_service set;
allow tee rpmb_device:blk_file rw_file_perms;
allow tee vfat:file { read getattr open };
# ueventd
allow ueventd fpc_sysfs:file { write open };
