allow perfd adsprpcd:file r_file_perms;
allow perfd audioserver:file r_file_perms;
allow perfd cnd:file r_file_perms;
allow perfd debuggerd:file r_file_perms;
allow perfd drmserver:file r_file_perms;
allow perfd healthd:file r_file_perms;
allow perfd ims:file r_file_perms;
allow perfd imscm:file r_file_perms;
allow perfd init:file r_file_perms;
allow perfd installd:file r_file_perms;
allow perfd kernel:file r_file_perms;
allow perfd keystore:file r_file_perms;
allow perfd lmkd:file r_file_perms;
allow perfd logd:file r_file_perms;
allow perfd mediacodec:file r_file_perms;
allow perfd mediadrmserver:file r_file_perms;
allow perfd mediaextractor:file r_file_perms;
allow perfd netd:file r_file_perms;
allow perfd per_mgr:file r_file_perms;
allow perfd qcomsysd:file r_file_perms;
allow perfd rfs_access:file r_file_perms;
allow perfd rmt_storage:file r_file_perms;
allow perfd servicemanager:file r_file_perms;
allow perfd surfaceflinger:file r_file_perms;
allow perfd tee:file r_file_perms;
allow perfd thermal-engine:file r_file_perms;
allow perfd ueventd:file r_file_perms;
allow perfd vold:file r_file_perms;
allow perfd zygote:file r_file_perms;
allow perfd adbd:file r_file_perms;
allow perfd audiod:file r_file_perms;
allow perfd dpmd:file r_file_perms;
allow perfd fidodaemon:file r_file_perms;
allow perfd gatekeeperd:file r_file_perms;
allow perfd ipacm:file r_file_perms;
allow perfd ipacm-diag:file r_file_perms;
allow perfd location:file r_file_perms;
allow perfd mm-pp-daemon:file r_file_perms;
allow perfd mm-qcamerad:file r_file_perms;
allow perfd mmbn-daemon:file r_file_perms;
allow perfd msm_irqbalanced:file r_file_perms;
allow perfd netmgrd:file r_file_perms;
allow perfd perfprofd:file r_file_perms;
allow perfd qmuxd:file r_file_perms;
allow perfd qti:file r_file_perms;
allow perfd rild:file r_file_perms;
allow perfd sdcardd:file r_file_perms;
allow perfd subsystem_ramdump:file r_file_perms;
allow perfd time_daemon:file r_file_perms;
allow perfd wcnss_filter:file r_file_perms;
allow perfd wcnss_service:file r_file_perms;
allow perfd wpa:file r_file_perms;

allow perfd self:capability sys_ptrace;
