allow rfs_access debugfs_rmt_storage:dir r_dir_perms;
allow rfs_access debugfs_rmt_storage:file rw_file_perms;
allow rfs_access self:capability net_raw;

allow rfs_access self:socket ioctl;
allowxperm rfs_access self:socket ioctl msm_sock_ipc_ioctls;

r_dir_file(rfs_access, uio_sysfs)
