set_prop(system_server, wlan_driver_status_prop)

allow system_server persist_file:dir read;
allow system_server sensors_persist_file:file rw_file_perms;
allow system_server lirc_device:chr_file rw_file_perms;
