# Copyright (c) 2011-2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system
    symlink /data/tombstones /tombstones

on fs
    wait /dev/block/platform/soc.0/f9824900.sdhci/mmcblk0
    symlink /dev/block/platform/soc.0/f9824900.sdhci /dev/block/bootdevice

    mount_all fstab.qcom
    swapon_all fstab.qcom

    wait /dev/block/bootdevice/by-name/persist
    mount ext4 /dev/block/bootdevice/by-name/persist /persist nosuid nodev barrier=1
    restorecon_recursive /persist
    mkdir /persist/data 0700 system system
    mkdir /persist/wlan_bt 0700 system system

    wait /dev/block/bootdevice/by-name/modem
    mount vfat /dev/block/bootdevice/by-name/modem /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337,context=u:object_r:firmware_file:s0

    wait /dev/block/bootdevice/by-name/bluetooth
    mount vfat /dev/block/bootdevice/by-name/bluetooth /bt_firmware ro shortname=lower,uid=1002,gid=3002,dmask=227,fmask=337,context=u:object_r:bt_firmware_file:s0

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/thermal 0771 system system

on boot
    symlink /dev/block/platform/soc.0 /dev/block/bootdevice
    start rmt_storage
    start rfs_access

    write /dev/cpuset/foreground/cpus 0-2,4-5
    write /dev/cpuset/foreground/boost/cpus 4-5
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2
    mkdir /dev/cpuset/top-app/boost
    write /dev/cpuset/top-app/cpus 0-5
    write /dev/cpuset/top-app/boost/cpus 4-5

    chown system system /dev/cpuset/top-app/boost
    chown system system /dev/cpuset/top-app/boost/tasks
    chmod 0664 /dev/cpuset/top-app/boost/tasks

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

service qseecomd /system/bin/qseecomd
   class core
   user root
   group root

service perfd /system/vendor/bin/perfd
   class main
   user root
   disabled

service per_mgr /system/bin/pm-service
    class core
    user system
    group system net_raw

service per_proxy /system/bin/pm-proxy
    class core
    user system
    group system net_raw
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service thermal-engine /system/vendor/bin/thermal-engine -T
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   group root
   setenv LD_PRELOAD libshim_thermalengine.so

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service adsprpcd /system/bin/adsprpcd
   class main
   user media
   group media

service audiod /system/bin/audiod
   class late_start
   user system
   group system

service imsqmidaemon /system/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag

service imsdatadaemon /system/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio diag inet log
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon

service imscmservice /system/bin/imscmservice
   class main
   user system
   group radio diag inet log

service ppd /system/bin/mm-pp-daemon
    class late_start
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

service displayfeature /system/bin/displayfeature
    class late_start
    user root
    group root

on property:init.svc.surfaceflinger=stopped
    stop displayfeature

on property:init.svc.surfaceflinger=running
    start displayfeature

on property:init.svc.surfaceflinger=restarting
    stop displayfeature

service ml_daemon /system/bin/ml_daemon
    class core
    user root
    group root

service seald /system/bin/seald
    class late_start
    user root
    group system

service energy-awareness /system/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service dts_configurator /system/bin/dts_configurator
    class late_start
    user system
    group system media audio
    oneshot

service dtseagleservice /system/bin/dts_eagle_service
    class late_start
    user system
    group audio media
    disabled

on property:init.svc.dts_configurator=stopped
    start dtseagleservice

service fidodaemon /system/vendor/bin/fidodaemon
    class late_start
    user system
    group system

service mtservice /system/bin/mtd
    class late_start

service vsimservice /system/bin/vsimd
    class late_start

service mlipayservice /system/bin/mlipayd
    class late_start

service readmac /system/bin/readmac
    class main
    user system
    group radio qcom_diag log net_raw wifi
    oneshot
    disabled

# power save
on property:sys.perf.profile=0
  write /sys/block/mmcblk0/queue/scheduler "noop"
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor "powersave"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
  write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 0
  write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 0
  write /sys/module/cpu_boost/parameters/input_boost_enabled 0
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 0

# bias power save
on property:sys.perf.profile=3
  write /sys/block/mmcblk0/queue/scheduler "noop"
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor "powersave"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
  write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 0
  write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 0
  write /sys/module/cpu_boost/parameters/input_boost_enabled 1
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:600000 1:600000 2:600000 3:600000 4:0 5:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 40

# balanced
on property:sys.perf.profile=1
  write /sys/block/mmcblk0/queue/scheduler "cfq"
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
  write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 0
  write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 2
  write /sys/module/cpu_boost/parameters/input_boost_enabled 1
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:787200 1:787200 2:787200 3:787200 4:0 5:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 100

# bias high performance
on property:sys.perf.profile=4
  write /sys/block/mmcblk0/queue/scheduler "cfq"
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
  write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 1
  write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 2
  write /sys/module/cpu_boost/parameters/input_boost_enabled 1
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:960000 1:960000 2:960000 3:960000 4:0 5:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 100

# high performance
on property:sys.perf.profile=2
  write /sys/block/mmcblk0/queue/scheduler "cfq"
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
  write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 2
  write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 2
  write /sys/module/cpu_boost/parameters/input_boost_enabled 1
  write /sys/module/cpu_boost/parameters/input_boost_freq "0:1248000 1:1248000 2:1248000 3:1248000 4:0 5:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms 100
